$size-xs:             375px;
$size-sm:             576px;
$size-md:             768px;
$size-lg:             992px;
$size-xl:             1200px;
$size-xxl:            1400px;

$c-white:             #FFFFFF;
$c-gray:              #3C3F42;
$c-gray-light:        #8E9194;
$c-gray-lighter:      #E9EAEB;
$c-red:               #AE194A;

$color-bk:            $c-white;
$color-main:          $c-gray;

$font-family:         'Nunito', Arial, Helvetica, sans-serif;
$font-family-big:     'League Gothic', 'Arial Narrow', Helvetica, sans-serif;
$font-size-base:      18px;
$font-size-base-md:   16px;


