$size-xs:             375px;
$size-sm:             576px;
$size-md:             768px;
$size-lg:             992px;
$size-xl:             1200px;
$size-xxl:            1400px;

$c-white:             #FFFFFF;
$c-gray:              #2A2B2F;
$c-gray-light:        #BBBBBB;

$c-blue:              #4D96CA;
$c-red:               #B44363;
$c-green:             #699227;


$color-bk:            $c-gray-light;
$color-main:          $c-gray;

$font-family:         'Nunito', Arial, Helvetica, sans-serif;
$font-family-big:     'League Gothic', 'Arial Narrow', Helvetica, sans-serif;
$font-size-base:      21px;
$font-size-base-md:   15px;


